body{
    background-color: #F2F2F2;
}

.post-block{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0,0,0,0.12);
    transition: all 0.5s ease 0s;
}

.content{
    padding-top: 100px;
}

.popular-content{
    padding-top: 50px;
}

.search-nav{
    display: inline-block;
    padding-top: 5px;
}

.popular-title{
    font-size: 25px;
}

.back-button {
    margin-top: 50px;
}

.doc-block{
    font-size: 20px;
}