<!DOCTYPE html>
<html lang="ru" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="http://bootstrap-3.ru/assets/ico/favicon.ico">
    <title>Velo Catalog</title>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% load static %}
    <link rel="stylesheet" href="{% static 'velostore/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'velostore/css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'velostore/css/styles.css' %}">
</head>

<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href={% url 'landing' %}>VeloCatalog</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href={% url 'landing' %}>Главная</a></li>
            <li><a href={% url 'popular' %}>Популярные</a></li>
            <li><a href={% url 'docs' %}>API docs</a></li>

            {% if user.is_authenticated %}
              <li><a href={% url 'logout' %}>Выход</a></li>
            {% else %}
              <li><a href={% url 'login' %}>Вход</a></li>
              <li><a href={% url 'register' %}>Регистрация</a></li>
            {% endif %}

            <li>
                <form action={% url 'find_page' %} method="get" class="form-search" >
                    <div class="input-append search-nav">
                        <input type="text" name="find_word" class="span2 search-query" placeholder="Поиск">
                        <button type="submit" class="btn">Найти</button>
                    </div>
                </form>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container content">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="row">
                    {% for post in posts %}
                        <div class="col-12 col-sm-12 col-lg-8 post-block">
                            <h4><b>Название:</b> {{ post.title }}</h4>
                            {% if post.name != None %}
                                <p><b>Автор:</b> {{ post.name }}</p>
                            {% endif %}
                            <p><b>Марка:</b> {{ post.mark }}</p>
                            <p><b>Цена:</b>
                            {% if post.price == None %}
                                Не указана
                            {% else %}
                                {{ post.price }}
                            {% endif %}
                            </p>
                            <p><b>Email:</b> {{ post.email }}</p>
                            <p><b>Телефон:</b> {{ post.phone_number }}</p>
                        </div><!--/span-->
                    {% endfor %}
                </div><!--/row-->
            </div><!--/span-->

            {% if user.is_authenticated %}
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            Вы вошли как: {{ user }}
                <form action={% url 'add' %} method="post" role="form">
                    {% csrf_token %}
                    <h2 class="form-signin-heading">Новое объявление</h2>
                    <input type="text" name="title" class="form-control" placeholder="Название*" maxlength="40" required>
                    <input type="text" name="mark" class="form-control" placeholder="Марка*" maxlength="40" required>
                    <input type="number" name="price" class="form-control" placeholder="Цена">
                    <input type="email" name="email" class="form-control" placeholder="Email*" maxlength="40" required>
                    <input type="tel" name="phone" class="form-control" id="phone" pattern="^\+7\d{3}\d{7}$" placeholder="Телефон*" maxlength="18" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
                </form>
            </div>
            {% else %}
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                Чтобы добавить пост, <a href={% url 'login' %}>войдите</a>
                </div>
            {% endif %}
        </div><!--/row-->

        <div class="row">
            <div class="large-3 large-offset-5 columns">
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="arrow"><a href="/page/{{ posts.previous_page_number }}/">&laquo;</a></li>
                    {% else %}
                        <li class="arrow unavailable"><a href="">&laquo;</a></li>
                    {% endif %}

                    {% for page in posts.paginator.page_range %}
                        {% if page == posts.number %}
                            <li class="current active"><a href="/page/{{ page }}/">{{ page }}</a></li>
                        {% else %}
                            <li><a href="/page/{{ page }}/">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                        <li class="arrow"><a href="/page/{{ posts.next_page_number }}/">&raquo;</a></li>
                    {% else %}
                        <li class="arrow unavailable"><a href="">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><!--/.container-->

    <script src="{% static 'velostore/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'velostore/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'velostore/js/jquery.maskedinput.min.js' %}"></script>
    <script>
        $(function(){
          $("#phone").mask("+79999999999");
        });
    </script>
</body>
</html>